footer{
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background-color: $main-color;
    align-items: center;
    img{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    ul{
        font-size: 7px;
        margin-left: 20px;
    }
}