.section-1{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    h1{
        font-size: 14px;
        color: rgb(236, 236, 236);
        background-color: rgba(112, 112, 112, 0.5);
        border: 2px solid rgb(236, 236, 236);
        border-radius: 5px;
        padding: 4px;
    }
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid white;
    }
}

.section-2{
    @include flex(column, flex-start, normal);
    div{
        width: 100%;
        background-color: rgba(112, 112, 112, 0.5);
        margin-top: 60px;
        @include flex(row, space-between, center);
        img{
            border-radius: 50%;
            width: 90px;
            height: 90px;
            margin-left: 20px;
        }
        ul{
            margin-right: 40px;
            li{
                font-size: 12px;
                color: white;
            }
        }
        .lugar{
            margin-right: 63px;
        }
    }
}

.section-3{
    margin-top: 50px;
    width: 100%;
    p{
        text-align: center;
        color: white;
        font-size: 14px;
        padding: 10px 0;
        background-color: rgba(112, 112, 112, 0.5);
    }
    div{
        margin-top: 50px;
        background-color: rgba(112, 112, 112, 0.5);
        @include flex(row, flex-start, center);
        img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-left: 20px;
        }
        ul{
            color: white;
            font-size: 14px;
            margin-left: 50px;
            line-height: 25px;
            text-decoration: underline;
        }
    }
    .end-img{
        width: 220px;
        height: 220px;
        display: block;
        margin: auto;
        margin-top: 60px;
    }
}