.navbar{
    div{
        @include flex(row, space-evenly, normal);
        background-color: $main-color;
        border-bottom: 4px solid black;
        a{
            text-decoration: none;
            color: white;
            font-size: 13px;
            &:hover{
                text-decoration: underline;
                text-decoration-color: white;
            }
        }
    }
}